<header class="header">

  <h1 class="header__logo container">{{ site.title }}</h1>

  <div class="header__navbar-container">
    <nav class="navbar container">
      <ul class="navbar__list">
        <li class="navbar__list__item__sandwich">
          <div class="sandwich">
            <div class="sandwich__bar"></div>
            <div class="sandwich__bar"></div>
            <div class="sandwich__bar--last"></div>
          </div>
        </li>
        <li class="navbar__list__item --first"><a href="#sobre">SOBRE</a></li>
        <li class="navbar__list__item"><a href="#apoiadores">APOIADORES</a></li>
        <li class="navbar__list__item"><a href="#chamada-para-trabalhos">CHAMADA PARA TRABALHOS</a></li>
        <li class="navbar__list__item"><a href="#contato">CONTATO</a></li>
        <li class="navbar__list__item"><a href="##">CÓDIGO DE CONDUTA</a></li>
      </ul>
    </nav>
  </div>

</header>
